.popup {
  background-color: rgba($color-black, 0.8);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2500;
  opacity: 0;
  visibility: hidden;

  &__container {
    @include absCenter;

    display: block;
    background-color: $color-white;
    width: 75%;
    border-radius: 3px;
    box-shadow: 0 2rem 3rem rgba($color-black, 0.2);
    max-height: 90%;
    overflow: scroll;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.4s 0.2s;

    @include respond(phone) {
      width: 85%;
    }
  }

  &__content {
    display: table;
  }

  &__left {
    width: 33.33334%;
    display: table-cell;
    vertical-align: middle;

    @include respond(laptop) {
      width: 40%;
    }

    @include respond(tab-land) {
      display: table-header-group;
    }
  }

  &__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(laptop) {
      width: 60%;
    }

    @include respond(phone) {
      padding: 3rem 3rem;
    }
  }

  &__img {
    display: block;
    width: 100%;

    &--1 {
      @include respond(tab-land) {
        max-height: 25rem;
        object-fit: cover;

        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
      }

      @include respond(phone) {
        max-height: 18rem;
      }
    }

    &--2 {
      @include respond(tab-land) {
        display: none;
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond(laptop) {
      column-count: 1;
      column-gap: 0;
      column-rule: none;

      -moz-column-count: 1;
      -moz-column-gap: 0;
      -moz-column-rule: none;
    }

    @include respond(phone) {
      margin-bottom: 2.5rem;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
  }

  &:target &__container {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
